body {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.board {
  width: 400px;
  height: 400px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 4px;
}

.cell {
  background: #d1d1d1;
  border: 1px solid #aaa;
  display: flex;
  justify-content: center;
  align-items: center;
}

.goblin {
  width: 80%;
  height: 80%;
  pointer-events: none;
}
