body {
  display: flex;
  justify-content: center;
  font-family: Arial;
  margin-top: 40px;
}

#game {
  width: 400px;
  height: 400px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 5px;
}

.cell {
  width: 100%;
  height: 100%;
  background: #eee;
  border: 1px solid #ccc;
}

.goblin {
  width: 100%;
  height: 100%;
  pointer-events: none;
}
